.image {
    position: relative;
    width: "100%";
    height: "100%";
}

.image .text{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
}

.wrapper {
    position:relative;
    width:100%;
    height:100%;
    min-height:28vw;
  }
  .divimage {  position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(https://i.esdrop.com/d/NeXHnnqhIj.jpg);
    background-repeat:no-repeat;
    background-size:100% auto;
  }
  .divtext {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding-top:40%;
    text-align:left;
    font-weight:bold;
    font-size:2rem;
    color:white;
    -webkit-text-stroke: 1px black;
    font-family:arial;
  }
  

  @media (max-width: 960px) {
  .divtext{
    font-size:4vw;
  }

  .wrapper {
    position:relative;
    width:100%;
    height:100%;
    min-height:50vw;
  }
}
